.event-tile {
    width: 100%;
    max-width: 1000px;

    padding: 20px;

    border-radius: 10px;

    background-color: #fff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 10px;

    cursor: pointer;
    transition: background-color 0.3s;
}

.event-tile:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.event-content {
    display: flex;
    flex-direction: column;
}

.event-title {
    font-size: 1.25rem;
    margin: 0;
    font-weight: bold;
}

.event-date {
    color: #6f6f6f;
    margin: 0;
}


.event-tile.light {
    background-color: #f8f9fa;

    color: #000;

}

.event-tile.dark {
    background-color: #343a40;

    color: #fff;

}

.event-title.light {
    color: #000;

}

.event-title.dark {
    color: #fff;

}

.event-date.light {
    color: #000;

}

.event-date.dark {
    color: #fff;

}

.event-container {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    gap: 20px;

    width: 100%;
    max-width: 1000px;

    margin: 0 auto;

    padding: 0 20px;

}