.navbar-brand {
    padding-left: 1rem;

}


.navbar-nav {
    margin-left: auto;

    padding-right: 1rem;
}


.nav-link.active {
    font-weight: bold;

    border-bottom: 2px solid #ffffff;

}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background-color: #fff;


    margin-top: 0;

    padding-top: 0;
}


.navbar-light {
    background-color: #f8f9fa;

}

.navbar-dark {
    background-color: #343a40;

}

.navbar-light .navbar-nav .nav-link {
    color: #000;

}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;

}

.navbar-light .navbar-brand {
    color: #000;

}

.navbar-dark .navbar-brand {
    color: #fff;

}